@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --color-Negro: #020403;
    --color-Gris: #adadad;
    --color3-Blanco: #FFFFFF;
    font-family: 'Rubik', sans-serif;
     font-size: 16px;
}

.Body{
    background-color: var(--color-Negro);
    color: var(--color3-Blanco);  
    max-width: 100vw;
}

.Boss{
    display: grid;
    gap: 5rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    background-color: #00000030;
}

li{
display: inline-block;
list-style: none;

}

li a{
    text-decoration: none;
    color: var(--color3-Blanco);

} 

.menu {
    position: fixed;
    background-color: #00000030;
    left: 0;
    width: 100%;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    transform: translateY(0);
    
    transition: transform 0.5s;
}
.menu__show{
    transform: translateY(-200%);
}

.menu a {
    color: var(--White);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: color 0.5s, background-color 0.5s;
}

.menu a:hover {
font-size: 2rem;
}

.icon__menu {
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    color: var(--color3-Blanco);
}

.Home{
    display: flex;
    flex-direction: column;
}

.Home-img{
 margin: auto;
    padding: 1rem;
}

.Home-img img{
    border-radius: 50%;
    overflow: hidden;
    max-width:12rem ;  
}

.Home-Presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Home-Presentation p{
    opacity: 75%;
    font-size: 1.7rem;
}

h2{
    font-size: 3rem;
    text-align: center;    
    margin-bottom: 1rem;
}

.Home-Icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Home-Icons svg:nth-last-child(1):hover{
    height: 3rem;
    width: 3rem;
 } 

.Home-Icons svg:nth-last-child(1):active{
   height: 4rem;
   width: 4rem;
} 

.Acerca-de-mi-Titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Acerca-de-mi-Text{
    text-align: center;
    opacity: 75%;
    line-height: 1.6rem;
    padding: 0 2rem;
}

.Mis-Habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.Mis-Habilidades-G{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Mis-Habilidades-Icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.Mis-Habilidades svg{
    background-color: var(--color-Gris) ;
    border-radius: 50% ;
}


.Experiencia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table{
border-spacing: 2rem;
}

.Portafolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.Portafolio-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.Contacto{
    display:grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 2fr;
}

.Contacto-Titulo{
    grid-column: 1/3;
    text-align: center;
}

.Contacto svg{
    
    width: 30%;
    height: 30%;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    
}

.Contacto-Celular{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.Contacto-Email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.Contacto-Email p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


footer{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}

footer a {
    text-decoration: none;
    color: var(--color3-Blanco);
}

h3{
    font-size: 2rem;
}

@media (min-width:600px){
  
    :root{
        --color-Negro: #020403;
        --color-Gris: #adadad;
        --color3-Blanco: #FFFFFF;
        font-family: 'Rubik', sans-serif;
         font-size: 18px;
    }
}

@media (min-width:700px){
    :root{
        --color-Negro: #020403;
        --color-Gris: #adadad;
        --color3-Blanco: #FFFFFF;
        font-family: 'Rubik', sans-serif;
         font-size: 20px;
    }
    
    .icon__menu {
        display: none;
    }

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        padding: 0 1rem;
        position: static;
        width: 100%;
        background-color: #00000030;
    }

    .menu {
        position: static;
        background-color: transparent;
        left: 0;
        width: auto;
        top: 0px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        padding:0;
        gap: 1rem;
        transform: translateY(0);
        transition: transform 0.5s;
        
    }

    .menu a{
        padding: 0rem 0rem;
    }
}
@media (min-width:900px){
    :root{
        --color-Negro: #020403;
        --color-Gris: #adadad;
        --color3-Blanco: #FFFFFF;
        font-family: 'Rubik', sans-serif;
         font-size: 22px;
    }

    .Body{
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    nav{
        height: 100vh;
      
    }

    .menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        position: fixed;
        padding: 2rem;
    }
    
    .Boss{
        grid-column: 2/6;
    }
    .Mis-Habilidades-G{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .Mis-Habilidades-1{
        text-align: center;
    }

    .Mis-Habilidades-2{
        text-align: center;
    }

    .Mis-Habilidades-3{
        text-align: center;
    }

    .Mis-Habilidades-4{
        text-align: center;
    }

    .Portafolio-img{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        gap: 1.5rem;

       
    }

    .Portafolio-img:nth-child(3){
      grid-column: 1/3;
    
}
}

@media (min-width:1200px){
    :root{
        --color-Negro: #020403;
        --color-Gris: #adadad;
        --color3-Blanco: #FFFFFF;
        font-family: 'Rubik', sans-serif;
         font-size: 25px;
    }
}